.combo{
    background-color: #ffffff;
    width: 19rem;
    margin: 20px;
}
.combo img{
    width: 100%;
    height: 300px;
}
.combo .card-body h5{
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.combo .card-body p{
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.combo .card-body a{
    color: #ffffff;
}